* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Kantumruy Pro", sans-serif;
}
body {
  font-family: montserrat;
}
nav {
  background: #fff;
  height: 80px;
  width: 100%;
  border-bottom: 2px solid rgb(175, 174, 174);
  margin-bottom: 5px;
  position: sticky;
  top: 0px;
  z-index: 999;
}
label.logo {
  color: rgb(0, 0, 0);
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* Swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 600px;
  object-fit: cover;
}

nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: rgb(0, 0, 0);
  font-size: 17px;
  font-weight: 00;
  padding: 7px 13px;
  text-transform: uppercase;
}
a.active,
a:hover {
  font-weight: 700;
  border-bottom: 5px solid black;
  transition: 0.5s;
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

.categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  place-items: center;
  column-gap: 15px;
}

.title-text {
}
.title {
  display: flex;
  align-items: center;
  gap: 15px;
  border-bottom: solid 3px black;
  padding-bottom: 7px;
  margin: 32px 0 48px 12px;
  width: fit-content;
}

.category {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  margin: 5px 0;
}

.category img {
  width: 175px;
  height: 175px;
  border-radius: 50%;
}

.category h2 {
  font-weight: 400;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  row-gap: 52px;
}

.card-box {
  width: 250px;
  height: 320px;
  overflow: hidden;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card-box:hover {
  border: 1px solid black;
}

.card-box img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.detail h3 {
  margin: 8px 0;
}

.detail {
  position: relative;
  padding: 5px 20px;
}

.card-box i {
  position: absolute;
  right: 15px;
  bottom: 30px;
}

.dis-price {
  text-decoration: line-through;
  color: #999;
  font-size: 14px;
}

.full-price {
  color: red;
}

.footer {
  background-color: #282c31;
  width: full;
  height: 80px;
  display: flex;
  gap: 42px;
  justify-items: center;
  align-items: center;
  color: black;
  justify-content: center;
  margin-top: 24px;
}

.footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
  flex-direction: column;
  margin: auto 0;
  padding-top: 12px;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 9;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: black;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

@media (max-width: 1200px) {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .categories {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 820px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
  .categories {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .category img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
  }
  .category h2 {
    font-size: 16px;
  }
}

@media (max-width: 520px) {
  .card-container {
    grid-template-columns: 1fr;
  }
  .categories {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .category img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
  }
}

/* ProductCategory */
/* .products {
  width: 100%;
  align-self: center;
  height: 70%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
.product {
  position: relative;
  background-color: var(--sectionBack);
  width: 350px;
  height: 100%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 40px;
  border-radius: 10px;
  transition: 0.3s;
}
.product:hover {
  transform: translateY(-15px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.image {
  width: 100%;
  height: 60%;
  display: grid;
  place-content: center;
}
.image img {
  width: 240px;
}
.namePrice {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.namePrice h3 {
  font-size: 2em;
  text-transform: capitalize;
  color: var(--textColor);
}
.namePrice span {
  font-size: 1.5em;
  color: var(--starColor);
}
.product p {
  font-size: 18px;
  line-height: 25px;
}
.stars svg {
  font-size: 1.3em;
  color: var(--starColor);
}
.bay {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.bay button {
  padding: 10px 20px;
  border-radius: 7px;
  border: none;
  background-color: var(--textColor);
  color: var(--sectionBack);
  font-size: 18px;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.5s;
}
.bay button:hover {
  transform: scale(1.1);
} */
